// style-customizer start
.style-customizer.closed
	.buy-button
		a.customizer-logo(href='index.html')
			img(src='img/logo.png', alt='Theme Logo')
		a.opener(href='#')
			i(class="fa fa-cog fa-spin fa-fw" aria-hidden="true")
		a.button.button-border.btn-buy(href='http://themeforest.com/cart/add_items?ref=Brainiak&item_ids=19519022', target='blanc') Buy now!
	.clearfix.content-chooser
		//- h3 Layout Options
		//- p Which layout option you want to use?
		//- ul.layoutstyle.clearfix
		//- 	li.wide-layout.selected(data-style='wide', title='wide')  Wide 
		//- 	li.boxed-layout(data-style='boxed', title='boxed')  Boxed 
		h3 Color Schemes
		p Which theme color you want to use? Select from here.
		ul.styleChange.clearfix
			li.color-0.selected(title='color-0', data-style='main')
			li.color-1(title='color-1', data-style='accent-two')
			li.color-2(title='color-2', data-style='blue')
			li.color-3(title='color-3', data-style='green')
			li.color-4(title='color-4', data-style='lime')
			li.color-5(title='color-5', data-style='green1')
			li.color-6(title='color-6', data-style='yellow')
			li.color-7(title='color-7', data-style='yellow2')
			li.color-8(title='color-8', data-style='red')
			li.color-9(title='color-9', data-style='red2')
			li.color-10(title='color-10', data-style='violet')
			li.color-11(title='color-11', data-style='violetred')
		//- h3 Background Patterns
		//- p Which background pattern you want to use?
		//- ul.patternChange.clearfix
		//- 	li.pattern-1(data-style='pattern-1', title='pattern-1')
		//- 	li.pattern-2(data-style='pattern-2', title='pattern-2')
		//- 	li.pattern-3(data-style='pattern-3', title='pattern-3')
		//- 	li.pattern-4(data-style='pattern-4', title='pattern-4')
		//- 	li.pattern-5(data-style='pattern-5', title='pattern-5')
		//- 	li.pattern-6(data-style='pattern-6', title='pattern-6')
		//- 	li.pattern-7(data-style='pattern-7', title='pattern-7')
		//- 	li.pattern-8(data-style='pattern-8', title='pattern-8')
		//- h3 Background Images
		//- p Which background image you want to use?
		//- ul.patternChange.main-bg-change.clearfix
		//- 	li.main-bg-1(data-style='main-bg-1', title='Background 1')
		//- 		img(src='images/customizer/bodybg/01.jpg', alt='')
		//- 	li.main-bg-2(data-style='main-bg-2', title='Background 2')
		//- 		img(src='images/customizer/bodybg/02.jpg', alt='')
		//- 	li.main-bg-3(data-style='main-bg-3', title='Background 3')
		//- 		img(src='images/customizer/bodybg/03.jpg', alt='')
		//- 	li.main-bg-4(data-style='main-bg-4', title='Background 4')
		//- 		img(src='images/customizer/bodybg/04.jpg', alt='')
		//- 	li.main-bg-5(data-style='main-bg-5', title='Background 5')
		//- 		img(src='images/customizer/bodybg/05.jpg', alt='')
		//- 	li.main-bg-6(data-style='main-bg-6', title='Background 6')
		//- 		img(src='images/customizer/bodybg/06.jpg', alt='')
		//- 	li.main-bg-7(data-style='main-bg-7', title='Background 7')
		//- 		img(src='images/customizer/bodybg/07.jpg', alt='')
		//- 	li.main-bg-8(data-style='main-bg-8', title='Background 8')
		//- 		img(src='images/customizer/bodybg/08.jpg', alt='')
		ul.resetAll
			li
				a.button.button-border.button-reset(href='#') Reset All
// style-customizer end